<h1>Empresas</h1>
<div id="lista_empresas">
	<% @empresas.each do |e| %>
		
		<ul>
			<li><strong>Nome:</strong><%= link_to "#{e.fantasy_name}" %></li>
			<li><strong>CNPJ:</strong><%= e.cnpj %></li>
			<li><strong>Email:</strong><%= e.email %></li>
		</ul>
	<% end %>
</div>