<!DOCTYPE html>
<html lang="pt-BR">
	<head>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		
	</head>
	<body>

		<div class="container">

			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Emprego Já</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="#">Cadastro de Vagas</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<ol class="breadcrumb">
				<li>Cadastro de Vagas</li>
			</ol>

			<section id="Cadastro">
				<div class="rows">
					<div class="col-md-8 col-sm-8">
						<form>
							<div class="form-group">
								<label>Título</label>
								<input type="text" class="form-control" placeholder="Informe o título do anúncio" id="title">
							</div>
							<div  class="form-group">
								<label>Descrição</label>
								<textarea class="form-control" rows="5" placeholder="Informe a descrição do anúncio" id="description"></textarea>
							</div>
							<div class="form-group">
								<label>Data de Expiração</label>
								<input type="text" class="form-control" id="expiration_date">
							</div>
							<div  class="form-group">
								<label>Local do Trabalho</label>
								<input type="text" class="form-control" placeholder="Informe o local do trabalho" id="job_local">
							</div>
							<div class="form-group">
								<label>Status do Anúncio</label>
								<select class="form-control" id="status">
									<option>Ativa</option>
									<option>Desativada</option>
									<option>Cancelada</option>
								</select>
							</div>
							<input class="btn btn-default" type="submit" value="Gravar Dados" onclick="validaCampos()">
						</form>
					</div>
				</div>
			</section>
		</div>
		
	</body>
</html>	